:host {
    display: block;
}

button {
    border: none;
    height: 32px;
    font-weight: 500;
    font-family: arial;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:hover {
    filter: brightness(1.2);
}

.compact {
    height: 24px;
    display: flex;
    align-items: center;
}

.primary {
    background-color: var(--primary);
    color: var(--text-light);
}

.secondary {
    background-color: var(--secondary);
    color: var(--text-dark);
}

.tertiary {
    background-color: var(--tertiary);
    color: var(--text-light);
}

.warning {
    background-color: var(--warning);
    color: var(--text-dark);
}

.danger {
    background-color: var(--danger);
    color: var(--text-light);
}