:host {
  display: block;
}

input {
    border: 1px solid var(--accent-light);
    font-weight: 500;
    font-family: arial;
    border-radius: 3px;
    padding: 6px 6px;
    transition: 0.1s ease-in-out;
}